@{
    ViewData["Title"] = "Админ-панель";
}

<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать! Здесь будет размещена административная панель Bluetech.</p>

<form asp-area="" asp-controller="Admin" asp-action="Logout" method="post">
    @Html.AntiForgeryToken()
    <button class="btn-primary" type="submit">Выйти</button>
</form>
